extends ../base

block content     
    div
        p=video.description
        small=video.createdAt
        br
        small Uploaded by
        p=video.description
        p=video.hashtags
        //if user
        a(href=`${video.id}/edit`) Edit Video &rarr; 
    